#tabelle{
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    justify-content: center;
}

#speisen td{
    border-left: 2px solid #f0922e;
    border: 2px solid #f0922e;
}

.td_img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
