@media (min-width: 679px) {
    .text_wichtiges  h1{ /** direkter Nachbar */
        position: absolute;
        text-align: center;
        margin-left: -30%;
    }
    .text_wichtiges ul{
        padding-left: 10%;
        margin-left: 25%;
        margin-right: 25%;
        justify-content: center;
    }
}
@media (max-width: 679px) {
    .text_wichtiges h1{
        text-align: center;
    }
    .text_wichtiges ul{
        padding-left: 10%;
        margin-left: 20%;
        justify-content: center;
    }
}

